@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AbbyWakeAssignment4.Models.addRes

<h1>This WOrked frick yeah</h1>
